// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: monospace;
}

.center {
  margins: auto
}

form {
    margin-top: 2em;
}




.title {
  color: #ff9900;
}

.navbar-default {
    background-color: #ffffe6;
    border-color: #000;
}

.columns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

a {
  color: #999900;
}

hr {
  height:0; 
  border:0; 
  border-top:2px solid #999900; 
}

